/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
	--hero-bg-img: url('../images/cover-image-dark.png');
	--page-bg-color: #000028;
	--accent-color: #FF0070;
	--text-color: #F1B2CE;
	--slogan-color: #DB00FF;
	--bg-text-color: #000028;
	--border-color: #FF0070;
}

.theme-dark .header__rec {
	display: block;
}
