/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
	--hero-bg-img: url('../images/cover-image-dark.png');
	--page-bg-color: #000028;
	--accent-color: #ff0070;
	--title-color: #ff0070;
	--text-color: #f1b2ce;
	--slogan-color: #db00ff;
	--bg-text-color: #000028;
	--border-color: #ff0070;
	--border-color-hover: #ff007066;
}

.theme-dark .header__rec {
	display: block;
}

@media (prefers-color-scheme: dark) {
	:root {
		--hero-bg-img: url('../images/cover-image-dark.png');
		--page-bg-color: #000028;
		--accent-color: #ff0070;
		--title-color: #ff0070;
		--text-color: #f1b2ce;
		--slogan-color: #db00ff;
		--bg-text-color: #000028;
		--border-color: #ff0070;
		--border-color-hover: #ff007066;
	}

	.header__rec {
		display: block;
	}
}
