/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	min-inline-size: 375px;
	max-inline-size: 1024px;
	background-color: var(--page-bg-color, #000028);
	background-image: var(--hero-bg-img, url('../images/cover-image-dark.png'));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: var(--font), monospace;
}

.header {
	margin-block-end: 40px;
	padding: 10px;
	inline-size: 100%;
	min-block-size: 668px;
	block-size: 100vh;

	display: grid;
	grid-template-rows: repeat(3, min-content);
	align-items: center;
}

.header__rec {
	position: absolute;
	top: 10px;
	right: 38px;
	color: var(--accent-color, #ff0070);
	font-size: var(--text-base, 18px);
	line-height: 25px;
}

.header__rec::after {
	content: '';
	position: absolute;
	width: 9px;
	height: 9px;
	margin-left: 10px;
	margin-top: 8px;
	border-radius: 50%;
	background-color: var(--accent-color, #ff0070);
	box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
	padding: 65px 0;
	justify-self: end;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 11px;
}

.header__theme-menu-item {
	text-decoration: none;
	list-style: none;
}

.header__theme-menu-button {
	padding: 2px 13px 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: inherit;
	color: var(--title-color, #353430);
	font-size: var(--text-base, 18px);
	line-height: 18px;
	text-transform: lowercase;
}

.header__theme-menu-button:hover {
	outline: 1px solid var(--border-color-hover, #32312d66);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--border-color, #353430);
	margin-block-end: -1px;
}

.header__theme-menu-button_active {
	outline: 1px solid var(--border-color, #353430);
	pointer-events: none;
}

.header__cover-title,
.footer__title {
	color: var(--slogan-color, #db00ff);
	font-weight: 700;
	line-height: 82.5%;
	text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__cover-title {
	margin-block-start: 2px;
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	align-self: center;
	justify-content: start;
}

.header__title {
	margin-block: 55px 58px;
	inline-size: 100%;
	min-width: 355px;
}

.title-decor {
	background-color: var(--accent-color, #ff8dcb);
	color: var(--bg-text-color, #353430);
	font-weight: 700;
	font-size: var(--text-base, 18px);
	line-height: var(--line-height, 23px);
}

.weight-regular {
	font-weight: 400;
}

.decorated-zone {
	position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
}

.decorated-zone::before {
	top: 10px;
	right: 10px;
	border-top: 1px solid var(--border-color, #ff0070);
	border-right: 1px solid var(--border-color, #ff0070);
}

.decorated-zone::after {
	bottom: 10px;
	left: 10px;
	border-bottom: 1px solid var(--border-color, #ff0070);
	border-left: 1px solid var(--border-color, #ff0070);
}

/* Main content */
.main {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

/* Content sections */
.content-section {
	display: grid;
	gap: 19px;
}

.content-section__title {
	color: var(--title-color, #353430);
	font-size: var(--text-base, 18px);
	font-weight: 700;
	line-height: var(--line-height, 23px);
}

.content-section__cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Content cards */
.content-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.content-card__text {
	color: var(--text-color, #f1b2ce);
	font-size: var(--text-base, 18px);
	line-height: 23.5px;
}

.content-card__link {
	text-decoration: none;
	text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.content-card__link:hover {
	box-shadow: 0 1px 0 0 currentColor;
}

.content-card__link:focus {
	outline: none;
}

.content-card__link:focus-visible {
	outline: 1px solid currentColor;
	outline-offset: 1px;
}

/* Gallery */
.gallery {
	display: grid;
	gap: 10px;
}

.gallery__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* Footer */
.footer {
	margin-block-start: 39px;
	block-size: 100vh;
	min-block-size: 668px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__title {
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

/* Медиазапросы для планшета (768px+) */
@media (width >= 768px) {
	.header {
		min-block-size: 1024px;
		padding: 20px;
		margin-block-end: 60px;

		grid-template-rows: 1fr min-content 1fr;
	}

	.header__rec {
		top: 20px;
		right: 48px;
	}

	.decorated-zone::before {
		top: 20px;
		right: 20px;
	}

	.decorated-zone::after {
		bottom: 20px;
		left: 20px;
	}

	.header__theme-menu {
		align-self: center;
		justify-self: end;
	}

	.header__cover-title {
		margin-inline-start: -20px;
	}

	.header__title {
		justify-self: end;
		inline-size: 364px;
	}

	/* Main content */
	.main {
		padding-inline: 20px;
		gap: 79px;
	}

	/* Content sections */
	.content-section_layout_aside {
		grid-template-columns: 1fr 2fr;
		gap: 20px;
	}

	.content-section_layout_aside .content-section__title {
		grid-column: 1 / 2;
	}

	.content-section_layout_aside .content-card {
		grid-column: 2 / 3;
	}

	/* Секция с широким заголовком */
	.content-section_layout_wide {
		grid-template-columns: 1fr;
	}

	.content-section_layout_wide .content-section__title {
		max-width: 30%;
	}

	/* Gallery */
	.gallery {
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'title title title'
			'sunset sunset ice-cream'
			'tape books ice-cream'
			'tape street street';
	}

	.gallery__title {
		grid-area: title;
	}

	.gallery__image_sunset {
		grid-area: sunset;
	}

	.gallery__image_ice-cream {
		grid-area: ice-cream;
	}

	.gallery__image_tape {
		grid-area: tape;
	}

	.gallery__image_books {
		grid-area: books;
	}

	.gallery__image_street {
		grid-area: street;
	}

	/* Footer */
	.footer {
		margin-block-start: 62px;
		min-block-size: 768px;
	}
}

/* Медиазапросы для десктопа (1024px+) */
@media (width >= 1024px) {
	.header {
		min-block-size: 768px;
	}

	.header__theme-menu {
		padding: 0;
		align-self: start;
		justify-self: center;
	}

	.header__theme-menu-list {
		flex-direction: row;
	}

	.header__cover-title {
		margin-inline-start: -20px;
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.header__title {
		inline-size: 491px;
	}

	/* Content sections */
	.content-section_layout_aside {
		column-gap: 10px;
	}

	.content-section_layout_wide {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.content-section_layout_wide .content-section__title {
		grid-column: 1 / -1;
		max-width: 315px;
	}

	.content-section_layout_wide .content-card {
		grid-column: auto;
	}

	/* Footer */
	.footer {
		margin-block-start: 60px;
	}

	.footer__title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}
}
