/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--hero-bg-img: url('../images/cover-image-dark.png');
	--page-bg-color: #000028;
	--border-color: #FF0070;
	--text-color: #F1B2CE;
	--accent-color: #FF0070;
	--slogan-color: #DB00FF;
	--bg-text-color: #000028;
	--text-base: 18px;
	--line-height: 23px;
}
