/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--hero-bg-img: url('../images/cover-image-light.png');
	--page-bg-color: #fff1f7;
	--border-color: #353430;
	--border-color-hover: #32312d66;
	--title-color: #353430;
	--text-color: #353430;
	--accent-color: #ff8dcb;
	--slogan-color: #ffc2e6;
	--bg-text-color: #353430;
	--text-base: 18px;
	--line-height: 23px;
	--font: 'IBM Plex mono';
}
